html{
  scroll-behavior: smooth;
}
body{
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
  margin: 0;
  font-size: 30px;
}
h4{
  margin: 0;
  font-size: 22px;
}
.logo{
  font-size: 40px;
  font-family: mundial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  letter-spacing: 3px;
  user-select: none;
}
.logo:hover{
  cursor: pointer;
}
.nav-bar{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  position: sticky;
  top: 0px;
  height: 80px;
  z-index: 3;
}
.nav-logo-container{
  display: flex;
}
.nav-links-container {
  display: flex;
  width: 50%;
}
.nav-links{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  user-select: none;
}
.nav-links > li{
  padding: 0 5px;
}
.nav-links>li:hover{
  color: darkslategrey;
  cursor: pointer;
}
.button {
  width: 100%;
  height: 35px;
  font-size: 20px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10px;
}
.button2{
  width: 100%;
  height: 35px;
  font-size: 20px;
  border: none;
  background-color: darkslategrey;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10px;
}
.button:hover {
  background-color: #9C6F6B;
  color: white;
  cursor: pointer;
}
.button2:hover {
  background-color: #9C6F6B;
  color: white;
  cursor: pointer;
}

/*BLANK SECTION*/
.section {
  background-color: gainsboro;
  border-bottom: 5px solid black;
  height: 250px;
  width: 100%;
}

/*IMAGE BANNER SECTION*/
.image-banner-section {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
}
.image-banner-section .image-block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
  background-image: url('./images/pexels-malik-skydsgaard-12132215.jpg');
  background-position: center;
  background-size: cover;
}
.image-banner-section .copy-block-container{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.copy-block-container .copy-block{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  flex-direction: column;
}

/*FEATURED COLLECTION*/
.featured-collection-section {
  display: flex;
  height: 400px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bookend-r {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bookend-l {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.featured-collection-section .middle{
  display: flex;
  justify-content: left;
  align-items: center;
  width: calc(100% - 40px);
  height: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
    /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.featured-collection-section .middle::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.slide{
  display: flex;
  min-width: 250px;
  width: 250px;
  margin: 0 20px;
  height: 80%;
  background-image: url('#');
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.slide-cover{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0);
  font-size: 32px;
  justify-content: center;
  align-items: center;
}
.slide-cover:hover{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}
.cover-copy{
  display: flex;
}
/*FEATURED PRODUCT*/
.featured-product-section{
  display: flex;
  background-color: white
  color: white;
  height: 500px;
  width: 100%;
}

.featured-product-section .image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
  background-image: url('./images/pexels-malik-skydsgaard-12132215.jpg');
  background-position: center;
  background-size: cover;
}

.featured-product-section .copy-block-container {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.copy-block-container .copy-block {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  flex-direction: column;
}

/*MEGA MENU*/
.mega-menu{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: 450px;
  min-height: 450px;
  padding: 40px 0px;
  position: fixed;
  top: 80px;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
.mega-link{
  text-decoration: none;
  color: inherit;
}
.mega-link:hover{
  cursor: pointer;
}
.mega-menu .menu-copy{
  display: flex;
  justify-content: center;
  height: 80%;
  width: 40%;
  line-height: 3em;
  flex-flow: column wrap;
}
.mega-menu .menu-images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}
.mega-menu .menu-images .featured-image1{
  display: flex;
  align-items: flex-end;
  width: 40%;
  height: 75%;
  background-image: url('./images/pexels-daria-liudnaya-8166972.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mega-menu .menu-images .featured-image2{
  display: flex;
  align-items: flex-end;
  width: 40%;
  height: 75%;
  background-image: url('./images/pexels-daria-liudnaya-8166570.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mega-menu .menu-images .featured-image1 .overlay{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #9C6F6B;
  color: white;
  align-items: center;
  height: 50px;
}
.mega-menu .menu-images .featured-image2 .overlay{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: darkslategray;
  color: white;
  align-items: center;
  height: 50px;
}
.mega-menu .menu-images:hover{
  cursor: pointer;
}
.r-arrow{
  width: 40px;
  height: 40px;
  pointer-events: none;
  user-select: none;
}
.l-arrow {
  width: 40px;
  height: 40px;
  rotate: 180deg;
  pointer-events: none;
  user-select: none;
}
