html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a{
  text-decoration: unset;
  color: inherit;
}
.see-it-tile a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body{
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}
h2{
   font-size: 26px;
   letter-spacing: 0.02em;
  }
h3{
  margin: 0;
  font-size: 30px;
}
h4{
  margin: 0;
  font-size: 22px;
}
p{
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: .03em;
}
.logo{
  font-size: 40px;
  font-family: mundial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #D95829;
  letter-spacing: 3px;
  user-select: none;
}
.logo:hover{
  cursor: pointer;
}
footer{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 320px;
  padding: 40px 60px;
}
.footer-half1{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}
.footer-half2{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 60%;
}
.no-zoom{
  touch-action: manipulation;
}
.nav-bar{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  position: sticky;
  top: 0px;
  height: 80px;
  z-index: 3;
}
.nav-logo-container{
  display: flex;
}
.nav-links-container {
  display: flex;
  width: 45%;
}
.hamburger{
  display: none;
  width: 40%;
  height: 100%;
}
.nav-links{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  user-select: none;
}
.nav-links > li{
  padding: 0 5px;
}
.nav-links>li:hover{
  color: #4EBF8B;
  cursor: pointer;
}
.button{
  width: 100%;
  height: 45px;
  font-size: 20px;
  border: none;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10px;
  touch-action: manipulation;
}
.button2{
  width: 100%;
  height: 45px;
  font-size: 20px;
  border: none;
  background-color: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
}
.button:hover {
  background-color: #82D9B0;
  color: white;
  cursor: pointer;
}
.button2:hover {
  background-color: #82D9B0;
  color: white;
  cursor: pointer;
}

/*BLANK SECTION*/
.section {
  background-color: white;
  border-bottom: 5px solid black;
  height: 250px;
  width: 100%;
}

/*IMAGE BANNER SECTION*/
.image-banner-section {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
}
.image-banner-section .image-block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
  background-image: url('./images/pexels-mktomasik-12368175.jpg');
  background-position: center;
  background-size: cover;
}
.image-banner-section .copy-block-container{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.copy-block-container .copy-block{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  flex-direction: column;
}
.copy-header{
  font-size: 70px;
}

/*FEATURED COLLECTION*/
.featured-collection-section {
  display: flex;
  height: 400px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bookend-r {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 3;
}
.bookend-l {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 3;
}

.featured-collection-section .middle{
  display: flex;
  justify-content: left;
  align-items: center;
  width: calc(100% - 40px);
  height: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
    /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.featured-collection-section .middle::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.wrap1{
animation: scroll-out linear 1s 1;
}
.wrap2{
animation: scroll-in linear .5s 1;
}
.slide{
  display: flex;
  min-width: 25%;
  width: 25%;
  height: 80%;
  background-image: url('#');
  background-position: center;
  background-size: cover;
  position: relative;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  aspect-ratio: 1 / 1;
}
.slide-cover{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0);
  font-size: 32px;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.slide-cover:hover{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  cursor: pointer;
}
.cover-copy{
  display: flex;
}
/*FEATURED PRODUCT*/
.featured-product-section{
  display: flex;
  background-color: white
  color: white;
  height: 500px;
  width: 100%;
}

.featured-product-section .image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
  background-image: url('./images/pexels-melvin-buezo-2529148.jpg');
  background-position: center;
  background-size: cover;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.featured-product-section .copy-block-container {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.copy-block-container .copy-block {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

/*MEGA MENU*/
.mega-menu{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: 50vh;
  padding: 40px 0px;
  position: fixed;
  top: 80px;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
.show {
  opacity: 1;
  transition: opacity 500ms;
  display: flex;
}

.hide {
  opacity: 0;
  transition: opacity 500ms;
}
.mega-link{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 300;
}
.mega-category{
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}
.mega-link:hover{
  cursor: pointer;
  color: darkgray;
}
.menu-copy {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 50%;
  line-height: 3em;
  flex-flow: column wrap;
}
.mega-menu .menu-copy{
  display: flex;
  justify-content: center;
  height: 80%;
  width: 15%;
  line-height: 3em;
  flex-flow: column wrap;
}
.mega-menu .menu-images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.mega-menu .menu-images .featured-image1{
  display: flex;
  align-items: flex-end;
  width: 40%;
  height: 80%;
  background-image: url('./images/pexels-ray-piedra-1468412.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.mega-menu .menu-images .featured-image2{
  display: flex;
  align-items: flex-end;
  width: 40%;
  height: 80%;
  background-image: url('./images/pexels-ray-piedra-1464648.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.overlay{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  align-items: center;
  height: 100%;
  border-radius: 5px;
}
.overlay:hover{
  background-color:rgba(0, 0, 0, 0.6);
}
.mega-menu .menu-images:hover{
  cursor: pointer;
}
.r-arrow{
  width: 40px;
  height: 40px;
  pointer-events: none;
  user-select: none;
}
.l-arrow {
  width: 40px;
  height: 40px;
  rotate: 180deg;
  pointer-events: none;
  user-select: none;
}
.cart{
  display: none;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  height: 100vh;
  position: fixed;
  top:0;
  right: 0;
  z-index: 5;
}
.cart-icon{
  height: 30px;
  width: auto;
}
.cart-icon:hover {
  height: 30px;
  width: auto;
  filter: invert(73%) sepia(7%) saturate(2765%) hue-rotate(100deg) brightness(90%) contrast(85%);
}
.cart-x{
  position: absolute;
  top: 15px;
  right: 30px;
  height: 30px;
}
.cart-x:hover {
  cursor: pointer;
}
.see-it-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 500px;
}
.see-it-box{
  display: flex;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.see-it-tile{
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.see-it-tile:hover {
  cursor: pointer;
}
.insta{
  display: flex;
  height: 50px;
  width: 50px;
  filter: invert(94%) sepia(6%) saturate(0%) hue-rotate(3deg) brightness(105%) contrast(105%);
  background-image: URL('./images/instagram.svg');
  background-position: center;
  background-size: cover;
  margin: 20px;
}

#tile1{
  background-image: URL('./images/pexels-bogdan-glisik-1698359.jpg');
  background-position: center;
  background-size: cover;
}
#tile2{
  background-image: URL('./images/pexels-godisable-jacob-1020488.jpg');
    background-position: center;
    background-size: cover;
}
#tile3{
  background-image: URL('./images/pexels-ray-piedra-1478442.jpg');
    background-position: center;
    background-size: cover;
}
#tile4{
  background-image: URL('./images/pexels-vova-krasilnikov-2726161.jpg');
    background-position: center;
    background-size: cover;
}
.see-it-header{
      font-size: 56px;
        letter-spacing: 0.02em;
        margin-left: 33px;
}
.showspan{
  display: flex;
  font-size: 55px;
  color: white;
  font-weight: 800;
}
.reviews-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 80px 0;
}
.review{
  display: flex;
  background-color: black;
  width: 40%;
  height: 100%;
}
.email-box{
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 80%;
}
.email{
  width: 90%;
  height: 35px;
  padding-left: 5px;
  font-size: 20px;
  touch-action: manipulation;
  border-radius: 5px;
  border: none;
  background-color: gainsboro;
  outline-color: #D95829;
  max-width: 400px;
}
.email:focus{
  background-color: white;
}
.email-label{
  font-size: 20px;
  margin-bottom: 10px;
}
.logo2 {
  font-size: 40px;
  font-family: mundial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  letter-spacing: 3px;
  user-select: none;
  margin-top: 0;
}

.logo2:hover {
  cursor: pointer;
}
.footer-link {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}
.footer-link:hover {
  cursor: pointer;
  color: darkgray;
}

/*BELOW 100px*/
@media only screen and (max-width: 1104px){
  .copy-header{
    font-size: 40px;
  }
  .image-banner-section{
    flex-direction: column-reverse;
    justify-content: end;
    height: 900px;
  }
.image-banner-section .copy-block-container{
    width: 100%;
    height: 100%;
  }
.image-banner-section .image-block{
  width: 100%;
  height: 100%;
}
.see-it-tile{
  margin-bottom: 40px;
}
.see-it-section{
  height: 900px;
}
.featured-collection-section{
  height: 300px;
  margin-top: 140px;
  margin-bottom: 140px;
}
.featured-product-section{
  height: 900px;
  flex-direction: column;
}
.featured-product-section .image-block{
  width: 100%;
  height: 100%;
}
.featured-product-section .copy-block-container {
  width: 100%;
  height: 100%;
}
.see-it-section{
  height: 100%;
}
.see-it-tile{
  flex-basis: 90%;
  border-radius: 10px;
  margin-bottom: 60px;
}
.copy-block-container .copy-block{
  text-align:center;
}
.copy-block-container .copy-header{
  text-align: center;
}
footer{
  margin-top: 80px;
  padding: 40px 40px;
  height: 100%;
  flex-direction: column;
}
.footer-half1{
  width: 100%;
}
.email-box{
  width: 100%;
}
.footer-half2 {
  width: 100%;
  margin-top: 20px;
}
.menu-copy{
  line-height: 2em;
}
.mega-category{
  font-size: 20px;
}
.mega-link{
  font-size: 16px;
}
.button, .button2{
  height: 60px;
}
.email{
  width: 100%;
}
.nav-links{
  display: none;
}
.hamburger{
  display: flex;
  background-image: url('./images/bars-solid\ \(1\).svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}
.nav-links-container{
  display: none;
}
}

@media only screen and (max-width: 600px) {
.slide{
  width: 100%;
  min-width: 100%;
}
}
@media only screen and (min-width: 600px) and (max-width:1000px) {
  .slide {
    width: 50%;
    min-width: 50%;
  }
}
@media only screen and (min-width: 1000px) and (max-width:1500px) {
  .slide {
    width: calc(100% / 3);
    min-width: calc(100% / 3);
  }


/* ANIMATION */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scroll-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll-in {
  0% {
    transform: translateX(calc(250px * 7));
  }

  100% {
    transform: translateX(0);
  }
}
